<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {{#each transac as |t|}}
        <li>

            Name: <span>{{t.username}}</span> <br>
            Description: <span>{{t.email}}</span><br>
            Price: <span>{{t.statement}}</span><br>
            
        </li>
        {{/each}}
    </ul>
</body>
</html>