<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<script src="html2pdf.bundle.min.js"></script>
<body>
    <h1>Profile</h1>
    <p>Welcome, {{name}}</p>
    <h1>Work Needed 
        
    </h1>

    <p>{{gStatement}}</p>

<a href="/user/fillout">Add your transaction here</a>
<a href="/user/logout">Logout</a>
   
    
</body>
</html>