<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahikhata</title>
</head>
<body>
    <h1>Welcome to home page</h1>

    <a href="/login">CLick here to login</a> <br><br>
    <a href="/signup">CLick here to signup</a>
</body>
</html>