<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahikhata</title>
    
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <div class="titlebar"><h1 class="title">Welcome to Bahikhata</h1></div>
    
    <div class="signup">
        <a href="/login">CLick here to login</a> <br><br>
        <a href="/signup">CLick here to signup</a>
        </div>
    
</body>
</html>