<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="./styles/login.css">
<body>
    <div class="login">
        <h1>Welcome to Login</h1>
        <h2>{{msg}}</h2>
        <div class="cred">
            <form action="/user/login" method="post">


                <input type="text" name="username" placeholder="NAME"><br>
                <input type="text" name="password" placeholder="PASSWORD"><br>

                <button type="submit">Login</button>
            </form>
        </div>

        <div class="googleauth">
            <a href="/googleauth">Login with Google</a><br><br>
            Not a User? <a href="/signup">Signup Here</a>
        </div>
    </div>
    
</body>
</html>