body{
    display: flex;
    background-color: bisque;
}
.signup{
    height: 450px;
    width: 30%;
    border: 1px black solid;
    border-radius: 30px;
    background-color:aquamarine;
    margin: auto;
    margin-top: 80px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
input{
    margin: 10px -30px;
    height: 30px;
    width: 250px;
    background:scroll;
    border: 2px red solid;
    border-radius: 4px;
}
button{
    margin:10px 50px;
    height: 30px;
    width: 100px;
    background: none;
    border: 3px red solid;
    color: red;
    border-radius: 5px;
    font-weight: 600;   
}
.cred{
    width: 50%;
    margin: auto;
    /* border: 1px black solid; */
}
input[type="text"]::placeholder {
    text-align: center;
    color: red;
}
input[type="password"]::placeholder {
    text-align: center;
    color: red;
}
.auth{
    /* border: 1px black solid; */
    margin: auto;
    width: 60%;
    text-align: center;
    /* margin-top: 30px; */
    /* height: 50px; */
    padding: 10px;
    font-size: medium;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: blue;
    text-decoration: none;
}